<div class="container">
    <form class="row g-3" action="/private/add" method="post">
        <div class="col-xs-5">
            <label for="avatar">   
                <input type="file" class="form-control" id="avatar" name="avatar" value="{{ valuesInput.avatar }}">
            </label>
        </div>
        <div class="col-xs-7">
            <h3>Bonjour {{ valuesInput.nickname }}</h3>
            <p>Veuillez ajouter certaines informations sur votre profil</p>    
        </div>
        <div class="col-xs-6">
            <label for="nickname" class="form-label">Pseudo :
                <input type="text" class="form-control" id="nickname" name="nickname" value="{{ valuesInput.nickname }}" placeholder="pseudo" required>
            </label>
        </div>
        <div class="col-xs-6">
            <label for="password" class="form-label">Mot de passe :
                <input type="password" class="form-control" id="password" name="password" value="{{ valuesInput.password }}" placeholder="*********" required>
            </label>
        </div>
        <div class="col-xs-12">
            <label for="email" class="form-label">E-mail :
                <input type="email" class="form-control" id="email" name="email" value="{{ valuesInput.email }}" placeholder="mail@mail.fr" required>
            </label>
        </div>
        <div class="col-xs-6">
            <label for="band" class="form-label">Avez vous un groupe :
                <select id="band" class="form-select" name="band" onchange="showDiv(this)" required>
                    <option selected value="">-- Veuillez choisir --</option>
                    <option value="1">Je suis dans un groupe</option>
                    <option value="0">Je ne suis pas dans un groupe</option>
                </select>
            </label>
        </div>
        <div class="col-xs-6" id="hiddenDiv" style="display:none">
            <label for="bandName" class="form-label">Nom du groupe :
                <input type="text" class="form-control" id="bandName" name="bandName" value="{{ valuesInput.bandName }}" placeholder="nom du groupe">
            </label>
        </div>
        <div class="col-xs-6">
            <label for="instrument" class="form-label">Instrument :
                <select id="instrument" class="form-select" name="instrument" required>
                    <option selected value="null">-- Veuillez choisir --</option>
                    <option value="1">Guitare</option>
                    <option value="2">Batterie</option>
                    <option value="3">Basse</option>
                    <option value="4">Chant</option>
                    <option value="5">Piano</option>
                    <option value="6">Clavier</option>
                    <option value="7">Cuivres</option>
                    <option value="8">Percussion</option>
                    <option value="9">Accordéon</option>
                </select>
            </label>
        </div>
        <div class="col-xs-6">
            <label for="experience" class="form-label">Niveau d'experience :
                <select id="experience" class="form-select" name="experience" required>
                    <option selected value="null">-- Veuillez choisir --</option>
                    <option value="beginner">Débutant</option>
                    <option value="advanced">Confirmé</option>
                    <option value="expert">Expert</option>
                </select>
            </label>
        </div>
        <div class="col-xs-6">
            <label for="status" class="form-label">Disponibilité :
                <select id="status" class="form-select" name="status" required>
                    <option selected value="null">-- Veuillez choisir --</option>
                    <option value="1">Disponible</option>
                    <option value="0">Non disponible</option>
                </select>
            </label>
        </div>
        <div class="col-xs-6">
            <label for="style" class="form-label">Genre musical :
                <select id="style" class="form-select" name="style">
                    <option selected value="">-- Veuillez choisir --</option>
                    <option value="1">Rock</option>
                    <option value="2">Pop</option>
                    <option value="3">Metal</option>
                    <option value="4">Funk</option>
                    <option value="5">Soul</option>
                    <option value="6">Hard-rock</option>
                    <option value="7">Punk-rock</option>
                    <option value="8">Electro</option>
                    <option value="9">Disco</option>
                    <option value="10">Reggae</option>
                    <option value="11">Musette</option>
                    <option value="12">Jazz</option>
                    <option value="13">Classique</option>
                </select>
            </label>
        </div>
        <div class="col-xs-11">
        <label for="description" class="form-label">Description :
            <textarea type="textarea" class="form-control" id="description" name="description"> 
                {{ valuesInput.description }}    
            </textarea>
        </label>
        </div>
        <div class="col-12">
            <a href="/private/add">
            <button type="submit" class="btn btn-primary">Valider</button>
            </a>
        </div>
    </form>
</div>