{% block stylesheet %}<link rel="stylesheet" href="/assets/css/profile.css">{% endblock %}

<div class="container-fluid mt-4 d-flex flex-wrap justify-content-center">
    <div class="row col-lg-6 order-lg-1" id="profile__card">
        <div class="col-xs-12 col-sm-12 col-lg-12">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-4 col-lg-5 p-lg-0">
                        <div class="card-body mb-3 p-lg-0">
                            <img src="{{ tupple.avatar }}" alt="picture of artist" class="img-fluid img-thumbnail">
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-8 col-lg-6 mt-lg-6">
                        <div class="container-fluid card-body__data p-0">
                            <div class="row d-flex flex-wrap mt-lg-5 text-capitalize">
                                <div class="col-6">
                                    <h5 class="card-title card__profile small font-italic text-muted m-0">Pseudo</h5>
                                    <p class="card-text font-weight-bold">{{ tupple.nickname }}</p>
                                </div>
                                <div class="col-6">
                                    <h5 class="card-title card__profile small font-italic text-muted m-0">Instrument</h5>
                                    <p class="card-text font-weight-bold">{{ tupple.instrument }}</p>
                                </div>
                                <div class="col-6 mt-3">
                                    <h5 class="card-title card__profile small font-italic text-muted m-0">Style musical</h5>
                                    <p class="card-text font-weight-bold">{{ tupple.style }}</p>
                                </div>
                                <div class="col-6 mt-3">
                                    <h5 class="card-title card__profile small font-italic text-muted m-0">Groupe</h5>
                                    <p class="card-text font-weight-bold">
                                        {% if tupple.band == null %}
                                            Pas de groupe
                                        {% else %}
                                        {{ tupple.band }}
                                        {% endif %}
                                    </p>
                                </div>
                                <div class="col-6 mt-3">
                                    <h5 class="card-title card__profile small font-italic text-muted m-0">Disponibilité</h5>
                                    <p class="card-text font-weight-bold">
                                        {% if tupple.status == 0 %}
                                            Non disponible
                                        {% else %}
                                            Disponible
                                        {% endif %}
                                    </p>
                                </div>
                                <div class="col-6 mt-3">
                                    <h5 class="card-title card__profile small font-italic text-muted m-0">Experience</h5>
                                    <p class="card-text font-weight-bold">
                                        {% if tupple.experience == 'beginner' %}
                                            Débutant
                                        {% elseif tupple.experience == 'advanced' %}
                                            Intermediaire
                                        {% else %}
                                            Expert
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>   
            </div>
        </div>
    </div>
    <div class="row col-lg-12 order-lg-3 card-description">
        <div class="col-xs-12 col-sm-12 col-lg-6">
            <div class="card-body-description mt-lg-3  "> 
                <p class="text-center m-0">{{ tupple.description }}</p>
            </div>
        </div>
    </div>
    <div class="row col-lg-5 order-lg-2 mt-lg-5" >
        <div class="col-xs-12 col-sm-12 col-lg-12 mt-3 mt-lg-5">
            <div class="card mt-lg-2">
                <div class="card-ad-body">
                    <h5 class="card-ad-title">{{ tupple.title }}</h5>
                    <p class="card-ad-text">{{ tupple.annonce }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row col-lg-12 order-lg-4 mb-1">
        <div class="col-xs-12 col-sm-12 col-lg-12">
            <div class="card-body col-lg-6 d-flex justify-content-center">
                <a href="login"><button type="button" class="btn btn-primary mb-5">Contactez moi !</button></a>
            </div>
        </div>
    </div>
</div>
<br>

